<div class="flex flex-col justify-between">
  <div class="flex flex-col justify-between max-w-lg">
    <a href="{{include.post.url | relative_url}}" aria-label="Post Url">
      {% assign random_id = include.post.date | date: "%s" %}
      {% assign random_image = 'https://picsum.photos/600/400/?blur&random=' | append: random_id %}
      <div class="hover:opacity-90 transition duration-300 w-full h-60 bg-cover bg-center rounded-lg"
        style="background-image: url('{{ include.post.image | default: random_image | relative_url }}')">
      </div>
    </a>
    <div class="pt-6">
      {% for category in include.post.categories %}
        <a href="{{site.url}}{{site.baseurl}}/category/{{category | replace: ' ', '-'| downcase}}"
          aria-label="Category {{category}} url"
          class="font-sans text-sm text-gray-600 dark:text-neutral-200 hover:underline">
          {{ category | upcase }}
        </a>{% unless forloop.last %}<span class="px-2 text-gray-600 dark:text-neutral-200">•</span>{% endunless %}
      {% endfor %}
    </div>
    <a href="{{ include.post.url | relative_url }}" aria-label="Post Url" class="hover:underline hover:text-brand-light">
      <h2 class="post-title text-2xl md:text-3xl">{{ include.post.title }}</h2>
    </a>
  </div>
  <span class="text-sm text-gray-500 dark:text-neutral-200 pt-6">
    {{ include.post.date | date: "%-d/%-m/%Y" }}
  </span>
</div>
