@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/Mulish-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
}

/* Optional: set default font here */
html {
  font-family: "Raleway", system-ui, sans-serif;
}